name: Node CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Create env file
        run: |
          touch .env
          echo LICHESS_TOKEN=${{ secrets.LICHESS_TOKEN }} >> .env

      - name: Run Test
        env:
          NODE_ENV: test
        run: |
          pnpm build
          pnpm test
